
.aboutus-container {
    text-align: center;
  }
  
  .aboutus-title {
    font-size: 4em; 
    font-family: 'YourDesiredFont', sans-serif; 
    color: #333; 
    
  }
  

  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 20px;
    justify-content: center;
    margin-top: 90px;
    position: absolute;
    z-index: 1;
    color: black;
    left: 50%;
    transform: translateX(-50%);
  }